@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: bold;
  src: url("../fonts/cuprum/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprum/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  src: url("../fonts/cuprum/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprum/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/cuprum/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprum/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  src: url("../fonts/ptsans/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsans/ptsansbold.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;

  padding: 10px 0;

  vertical-align: middle;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  border: none;
  border-radius: 2px;
  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button--size-small {
  width: 135px;
}

.button--size-medium {
  width: 253px;
}

.button--size-large {
  width: 300px;
}

.flag-new::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  width: 60px;
  height: 59px;

  background-image: url(../img/flag-new.png);
  background-repeat: no-repeat;
  background-position: 50%;

  pointer-events: none;
}

.highlighting {
  color: #ffd180;
}

body {
  position: relative;

  margin: 0 auto;
  min-width: 960px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.page-restriction {
  margin: 0 auto;
  width: 940px;
}


/*!  MODAL  !*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform:
    translateX(-50%) translateY(-50%) translateY(-100px);
  z-index: 11;

  visibility: hidden;
}


/*!  MODAL ACTIVITY  !*/
.modal--active {
  transform:
    translateX(-50%) translateY(-50%);

  visibility: visible;
}


/*!  MODAL CONTAINER  !*/
.modal__container {
  position: relative;
}


/*!  header  */
.header {
  background-color: #f4f7f9;
}

.header__top {
  margin-bottom: 45px;

  color: #fff;
  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
}

.top-header__inner {
  display: flex;
  flex-wrap: wrap;
}

.top-header__logo {
  position: relative;

  margin-bottom: -5px;

  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.top-header__logo:hover {
  background-color: #ca2c37;
}

.top-header__logo:active {
  background-color: #ba2732;
}

.top-header__logo img {
  padding: 13px 56px 11px 55px;
  width: 109px;
  height: 19px;
}

.top-header__search {
  position: relative;

  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.search__input {
  box-sizing: border-box;
  flex-grow: 1;

  color: inherit;
  font-size: inherit;
  line-height: inherit;

  border: none;
  background-color: transparent;
  outline: none;
}

.search__input::placeholder {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.search__input:focus,
.search__input:focus+.search__label {
  color: #000;

  background-color: #fff;
  fill: #ee3643;
  opacity: 1;
}

.top-header__search:hover .search__label {
  opacity: 1;
}

.search__label {
  padding: 12px 3px 0 17px;

  fill: #fff;
  opacity: .3;
}

.top-header__bookmarks::before {
  content: '';
  position: absolute;

  margin-left: -3px;
  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
}

.bookmarks__caption {
  padding-left: 24px;
}

.top-header__cart::before {
  content: '';
  position: absolute;

  margin-left: -2px;
  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
}

.cart__caption {
  padding-left: 30px;
}

.top-header__search:hover,
.top-header__bookmarks:hover,
.top-header__cart:hover {
  background-color: #212a3a;
}

.top-header__bookmarks:active,
.top-header__cart:active {
  background-color: #161d29;
}

.top-header__bookmarks::before,
.top-header__cart::before {
  opacity: .3;
}

.top-header__bookmarks:hover::before,
.top-header__cart:hover::before {
  opacity: 1;
}

.top-header__bookmarks:active::before,
.top-header__cart:active::before {
  opacity: .5;
}

.top-header__bookmarks:active span,
.top-header__cart:active span {
  opacity: .6;
}

.top-header__checkout {
  background-color: #63a63e;
}

.top-header__checkout:hover {
  background-color: #5fbb2d;
}

.top-header__checkout:active {
  background-color: #518534;
}

.top-header__checkout:active span {
  opacity: .5;
}

.search__input,
.top-header__bookmarks,
.top-header__cart,
.top-header__checkout {
  padding: 12px;
}

.top-header__bookmarks,
.top-header__cart,
.top-header__checkout {
  box-sizing: border-box;
  padding-left: 20px;
  width: 150px;
}

.cart--filled,
.bookmarks--filled {
  background-color: #ee3643;
}

.cart--filled:hover,
.bookmarks--filled:hover {
  background-color: #ca2c37;
}

.cart--filled:active,
.bookmarks--filled:active {
  background-color: #ba2732;
}

.header__middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
}

.middle-header__title,
.contacts,
.account {
  box-sizing: border-box;
  width: 300px;
}

.middle-header__title {
  margin: 0;
  margin-top: 4px;
  padding-left: 52px;

  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
}

.contacts__inner {
  text-align: center;
  width: 270px;
}

.contacts__phone {
  position: relative;

  box-sizing: border-box;
  display: block;
  margin-top: 1px;
  padding: 10px 20px 8px 41px;
  width: 100%;

  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #fff;
}

.contacts__phone::before {
  content: '';
  position: absolute;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
}

.contacts__address {
  padding: 4px 0;

  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

.account {
  margin-top: 1px;
  margin-right: -0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.account__button {
  position: relative;

  margin-bottom: 10px;
  padding: 12px 24px 12px 24px;

  color: #000;
  font-size: 21px;
  line-height: 21px;

  background-color: #fff;
}

.account__button:not(:first-child) {
  margin-left: 10px;
}

.account__button svg {
  position: absolute;
  top: 13px;
  left: 13px;
}

.account__button:hover path {
  fill: #32425c;
}

.account__button path,
.account__button:active path {
  fill: #c5c5c5;
}

.account__button span {
  display: inline-block;
  vertical-align: top;
}

.account__button svg+span {
  margin-left: 23px;
}

.account__button:hover span {
  color: #ee3643;
}

.account__button:active span {
  color: #000;

  opacity: .3;
}

.account__settings {
  width: 260px;

  fill: #c5c5c5;
}

.account__settings:hover span {
  color: #000;
}

.account__exit {
  padding: 13px 21px 11px 19px;
  width: 40px;
}

.account__exit.account__button {
  margin-left: 0;
}

.account__list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -4px;
  margin-left: 18px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;

  list-style: none;
}

.account__item {
  position: relative;

  color: #32425c;

  text-decoration: underline;
}

.account__item:hover {
  color: #ee3643;
}

.account__item a:active {
  color: #32425c;
  opacity: .3;
}

.account__item:not(:last-of-type) {
  padding-right: 32px;
}

.account__item:not(:last-of-type)::after {
  content: '';
  position: absolute;
  top: 6px;
  right: 12px;

  width: 4px;
  height: 5px;

  border-radius: 50%;
  background-color: #32425c;
}

.menu {
  padding-bottom: 60px;
}

.menu__list {
  margin: 0;
  padding: 0 19px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  font-size: 17px;
  line-height: 17px;
  color: #fff;

  list-style: none;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.menu__item a {
  display: block;
  padding: 20px 31px 23px 31px;
}

.menu__item:hover a {
  background-color: #293449;
}

.menu__item a:active {
  color: #fff;

  background-color: #1d2739;
  opacity: .5;
}


/*!  offers  !*/
.offers {
  margin-bottom: 33px;
  padding-top: 46px;
}

.offers__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;

  list-style: none;
}

.offers__item {
  position: relative;

  box-sizing: border-box;
  padding: 21px 23px 22px;
  width: 300px;

  background-color: #ccc;
  background-repeat: no-repeat;
  color: #fff;
}

.offers__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.offers__item h3 {
  margin-top: 0;

  margin-bottom: 12px;

  font-size: 24px;
  line-height: 30px;
}

.offers__item>.button {
  margin-left: 1px;

  text-transform: uppercase;

  background-color: rgba(0, 0, 0, .1);
}

.offers__item>.button:hover {
  background-color: rgba(0, 0, 0, .2);
}

.offers__item>.button:active {
  background-color: rgba(0, 0, 0, .3);
}

.offers__materials {
  background-color: #ffbf47;
  background-image: url(../img/icon-1.svg);
  background-position: right 43px top 31px;
}

.offers__tools {
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-position: right 28px top 33px;
}

.offers__technics {
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-position: right 31px top 31px;
}

.offers__discounts {
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-position: right 45px top 26px;
}

.offers__delivery {
  background-color: #ffbf47;
  background-image: url(../img/icon-5.svg);
  background-position: right 31px top 32px;
}

.offers__item--wrap {
  padding: 0;

  background-color: transparent;
}

.slider {
  margin-bottom: 20px;
  width: 620px;
  overflow: hidden;
}

.slider__items {
  position: relative;
  min-height: 266px;
}

.slide {
  position: relative;

  display: none;

  color: #fff;
}

.slide--active {
  display: block;
}

.slide__header {
  position: absolute;
  top: 22px;
  left: 25px;
}

.slide__title {
  margin: 1px 0 2px;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slide__description {
  margin: 0;

  font-size: 18px;
  line-height: 24px;
}

.slide .button {
  position: absolute;
  bottom: 22px;
  left: 25px;

  width: 195px;

  text-transform: uppercase;
}

.slide img {
  display: block;
}

.slider__btn-prev,
.slider__btn-next {
  position: absolute;
  top: 50%;

  padding: 0;
  width: 22px;
  height: 40px;

  border: none;
  background-color: transparent;
  background-image: url(../img/icon-right.svg);
  background-repeat: no-repeat;

  cursor: pointer;
}

.slider__btn-prev {
  left: 25px;
  transform: translateY(-50%) translateY(1px) rotate(180deg);
}

.slider__btn-next {
  right: 20px;
  transform: translateY(-50%) translateY(1px);
}

.control-slider {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  max-width: 180px;
}

.control-slider__dot {
  box-sizing: content-box;
  padding: 0;
  width: 6px;
  height: 6px;

  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;

  cursor: pointer;
}

.control-slider__dot:not(:last-of-type) {
  margin-right: 7px;
}

.control-slider__dot--active {
  background-color: #ee3643;
}


/*!  popular-items & popular-brands - header  !*/

.popular-items__header,
.popular-brands__header {
  margin-bottom: 20px;
  padding: 25px 24px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #32425c;
  text-transform: uppercase;

  background-color: #f9f5f0;
}

.popular-brands__header {
  padding-top: 26px;
}

.popular-items__title,
.popular-brands__title {
  margin: 1px 20px 0 4px;

  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

/*!  catalog  !*/
.item-catalog {
  position: relative;

  box-sizing: border-box;
  width: 220px;

  border: 1px solid #e5e5e5;
}

.item-catalog__doing {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  display: block;
  box-sizing: border-box;
  margin-top: 43px;

  opacity: 0;
}

.item-catalog__doing .button {
  margin-bottom: 8px;
  display: block;

  font-family: inherit;
  text-transform: uppercase;
}

.item-catalog__doing .button:last-of-type {
  margin-bottom: 0;
}

.item-catalog__add-to-cart {
  color: #fff;

  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.item-catalog__add-to-cart:hover {
  background-color: #5fbb2d;
}

.item-catalog__add-to-cart:active {
  background-color: #518534;
  box-shadow: none;
}

.item-catalog__to-bookmarks {
  color: #32425c;

  background-color: #fff;
  box-shadow: inset 0 0 0 3px #63a63e;
}

.item-catalog__to-bookmarks:hover {
  box-shadow: inset 0 0 0 3px #32425c;
  background-color: #fff;
}

.item-catalog__to-bookmarks:active {
  opacity: 0.3;
}

.item-catalog:hover {
  border: 1px solid transparent;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5)
}

.item-catalog:hover .item-catalog__doing {
  opacity: 1;
}

.item-catalog:hover .item-catalog__image {
  opacity: 0;
}

.item-catalog__link {
  display: block;
  padding-bottom: 17px;
}

.item-catalog__title,
.item-catalog__old-price,
.item-catalog__price {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

.item-catalog__title {
  margin-bottom: 12px;

  font-size: 18px;
  line-height: 20px;
}

.item-catalog__old-price {
  margin-bottom: 7px;
  min-height: 18px;

  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999;
}

.item-catalog__price {
  margin: 0 auto;
  padding: 13px;
  width: 148px;

  font-size: 17px;
  line-height: 18px;
  color: #fff;

  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-position: left 7px top 3px;
}


/*!  popular-brands  !*/
.popular-brands {
  margin-bottom: 65px;
}

.popular-brands__list {
  margin: 0;
  margin-right: -20px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  list-style: none;
}

.popular-brands__item {
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  display: flex;
  flex-direction: column;

  border: 1px solid #eaeaea;
}

.popular-brands__link {
  margin: -1px;
  min-height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-brands__item:hover {
  border: 1px solid transparent;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands__item:active {
  border: 1px solid transparent;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands__item:active img {
  opacity: .3;
}

.popular-brands__item--bosch a {
  position: relative;
}

.popular-brands__link img {
  position: relative;
}

.popular-brands__item--bosch img {
  top: -1px;
}

.popular-brands__item--makita img {
  top: -3px;
}

.popular-brands__item--dewalt img {
  top: -3px;
}

.popular-brands__item--interskol img {
  top: -8px;
  left: -1px;
}

.popular-brands__item--hitachi img {
  top: 1px;
  left: 3px;
}

.popular-brands__item--lg img {
  top: -1px;
  left: -1px;
}

.popular-brands__item--aeg img {
  top: -2px;
  left: 1px;
}

.popular-brands__item--metabo img {
  top: -4px;
  left: 2px;
}


/*!  services  */
.services {
  padding-top: 65px;

  background-color: #f4f7f9;
}

.services__title {
  margin: 0;
  margin-bottom: 26px;

  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services__text {
  margin-top: 0;
  margin-bottom: 23px;

  font-family: "PT Sans", Arial, sans-serif;
}

.slider-services {
  display: flex;
}

.slider-services__list {
  position: relative;

  margin: 46px 0 48px;
  padding-left: 0;
  width: 240px;
  min-height: 185px;
  display: flex;
  flex-direction: column;

  list-style: none;
}

.slider-services__list::before {
  content: "";
  position: absolute;
  top: -46px;
  right: 0;

  height: 279px;
  width: 10px;

  background-image: url(../img/services-shadow.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.slider-services__item {
  color: #fff;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  background-color: #32425c;
  box-shadow: 0px -1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.slider-services__item label {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 22px 18px;

  vertical-align: top;

  cursor: pointer;
}

.slider-services__delivery:checked~.slider-services__list .service-delivery-label,
.slider-services__warranty:checked~.slider-services__list .service-warranty-label,
.slider-services__credit:checked~.slider-services__list .service-credit-label {
  color: #32425c;

  background-color: #fff;
  box-shadow: 0px -1px 0 0 #fff, inset 0px 1px 0 0 #fff;
}

.slider-services__item:hover:not(:checked) {
  background-color: #293449;
}

.service-delivery,
.service-warranty,
.service-credit {
  display: none;

  margin-top: 45px;
  padding-left: 80px;
  min-height: 285px;
  flex-grow: 1;

  background-position: bottom 0 right 1px;
  background-repeat: no-repeat;
}

.service-delivery {
  background-image: url(../img/service-delivery.png);
}

.service-warranty {
  margin-right: -9px;

  background-image: url(../img/service-warranty.png);
}

.service-credit {
  margin-right: -11px;

  background-image: url(../img/service-credit.png);
}

#service-delivery:checked~.service-delivery,
#service-warranty:checked~.service-warranty,
#service-credit:checked~.service-credit {
  display: block;
}

.slider-services__title {
  margin: -1px 0 25px;

  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
}

.slider-services__text {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.slider-services .button {
  margin-top: 25px;
  width: 195px;

  text-transform: uppercase;
}


/*!  about  !*/

.about {
  padding: 79px 0 86px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company-about {
  width: 620px;
}

.contacts-about {
  width: 300px;
}

.about__title {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about__text {
  margin-top: 0;
  margin-bottom: 26px;

  font-family: "PT Sans", Arial, sans-serif;
}

.company-about .about__text {
  margin-bottom: 25px;
}

.company-about__list {
  margin-top: -5px;
  margin-bottom: 36px;
  padding-left: 0;

  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.company-about__item {
  position: relative;

  margin-top: 20px;
  padding-left: 36px;
}

.company-about__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.contacts-about__map {
  margin-bottom: 40px;
  padding-top: 5px;
  display: block;
}

.about .button {
  box-sizing: border-box;
  text-transform: uppercase;
}

.company-about__button {
  width: 220px;
  padding: 11px 0 9px 2px;
}

.contacts-about__button {
  padding: 11px 0 9px 6px;
}


/*! footer !*/
.first-part-footer {
  color: #fff;

  background-color: #32425c;
}

.first-part-footer__inner,
.second-part-footer__inner {
  display: flex;
  justify-content: space-between;
}

.first-part-footer__inner {
  padding-bottom: 24px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 27px;

  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

.footer__logo img {
  display: block;
  padding: 20px 41px 25px;
  width: 138px;
  height: 23px;

  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #EE3643;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 26px;
  width: 380px;

  font-size: 18px;
  line-height: 24px;
}

.contacts-footer__address,
.contacts-footer__phone {
  padding-left: 3px;
}

.contacts-footer__address {
  font-style: normal;
}

.navigation {
  margin-right: -20px;
  flex-grow: 1;

  font-size: 18px;
  line-height: 24px;

  background-color: #32425c;
}

.menu-navigation {
  display: flex;
  justify-content: flex-end;
}

.menu-navigation__list,
.catalog-navigation__list {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;

  list-style: none;
}

.menu-navigation__list {
  margin-top: 18px;
  padding-left: 0;
}

.catalog-navigation__list {
  margin-bottom: 17px;
}

.menu-navigation__item,
.catalog-navigation__item {
  padding: 18px 29px 18px 30px;
}

.menu-navigation__item:first-child,
.catalog-navigation__item:first-child {
  padding-left: 0;
}

.menu-navigation__item:last-child,
.catalog-navigation__item:last-child {
  padding-right: 20px;
}

.menu-navigation__link:hover,
.catalog-navigation__link:hover {
  text-decoration: underline;
}

.menu-navigation__link:active,
.catalog-navigation__link:active {
  text-decoration: none;
  opacity: 0.5;
}

.second-part-footer {
  font-size: 16px;
  line-height: 18px;

  color: #fff;
  background-color: #293449;
}

.second-part-footer__inner {
  padding: 32px 0 29px;
  align-items: center;
}

.footer__copyright,
.social-footer__list,
.contact-us-footer__text {
  margin: 0;
}

.social-footer__list {
  margin-top: 3px;
  margin-left: 40px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.social-footer__item:not(:first-of-type) {
  margin-left: 3px;
}

.social-footer__link {
  padding: 21px;
  display: inline-block;

  vertical-align: top;

  border-radius: 50%;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-footer__link:hover {
  background-color: #ee3643;
}

.social-vk {
  background-image: url(../img/icon-vk.svg);
}

.social-facebook {
  background-image: url(../img/icon-fb.svg);
}

.social-instagram {
  background-image: url(../img/icon-insta.svg);
}

.contact-us-footer {
  display: flex;
  flex-wrap: wrap;
}

.contact-us-footer__text:not(:first-child) {
  margin-left: 51px;
}

.contact-us-footer__text:last-child {
  margin-right: 13px;
}

.contact-us-footer__link {
  display: block;
}

.contact-us-footer__link:hover {
  text-decoration: underline;
}

.contact-us-footer__link:active {
  text-decoration: none;
  color: #ee3643;
}


/*!  modal map  !*/
.map {
  width: 940px;
  min-height: 446px;

  font-size: 0;
  line-height: 0;

  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
  background-color: #565656;
}

.modal__button-close {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0;
  width: 39px;
  height: 39px;

  border: none;
  background-color: transparent;
  background-image: url(../img/icon-close.svg);
  background-position: 50%;
  background-repeat: no-repeat;

  cursor: pointer;
}

.map iframe {
  border: none;
}


/*!  modal feedback  !*/
.feedback {
  width: 620px;

  background-color: #fff;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.feedback .modal__container::before {
  content: '';

  display: block;
  width: 100%;
  height: 7px;

  background-color: #ee3643;
}

.feedback .modal__button-close {
  top: 7px;
}

.fields-feedback {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 18px;

  border: none;
  background-color: #fff;
}

.fields-feedback__inner {
  padding: 47px 80px 33px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.fields-feedback__label {
  margin-bottom: 21px;
  width: 220px;
}

.fields-feedback__label[for="feedback__text"] {
  margin-bottom: 0;
  width: 100%;
}

.fields-feedback__input,
.fields-feedback__textarea {
  box-sizing: border-box;
  margin-top: 9px;
  padding: 9px 14px 6px 14px;
  width: 100%;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.fields-feedback__textarea {
  height: 114px;
  resize: none;
  overflow: auto;
}

.feedback__button-wrap {
  padding: 38px 80px 37px;

  background-color: #f4f4f4;
}

.feedback__button {
  width: 100%;
}


/*!  catalog  !*/
.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs__list {
  margin: 0;
  padding-left: 0;
  padding-top: 21px;
  padding-bottom: 21px;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:first-of-type)::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 13px;

  width: 8px;
  height: 12px;

  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.breadcrumbs__item:not(:first-of-type) a {
  margin-left: 39px;
  margin-right: 3px;
}

.breadcrumbs__item:first-of-type a {
  position: relative;
  top: 2px;
  left: -2px;

  display: block;
  width: 15px;
  height: 12px;

  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.catalog__filters,
.catalog__sort,
.catalog__list,
.catalog__pagination {
  font-family: "PT Sans", Arial, sans-serif;
}

.catalog__filters,
.catalog__sort,
.catalog__pagination {
  text-transform: uppercase;
}


.content-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.content-title span {
  display: block;
  padding: 29px 28px;

  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.catalog__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.filters__title {
  margin: 0;
  margin-bottom: 11px;
  padding: 11px 17px 9px 19px;

  font-size: 13px;
  line-height: 18px;

  border-radius: 4px;
  background-color: #f7f3ec;
}

.filters__field {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  border: none;
}

.filters__field:last-of-type {
  margin-bottom: 58px;
}

.field-filters__title {
  margin-bottom: 14px;

  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.controls__range {
  position: relative;

  display: block;
  margin-bottom: 9px;
  padding: 39px 20px;
}

.range-controls__scale {
  width: 100%;
  height: 2px;

  background-color: #d7dcde;
}

.range-controls__bar {
  height: 100%;
  background-color: #00ca74;
}

.range-controls__toggle {
  position: absolute;
  top: 30px;
  left: 0;

  box-sizing: content-box;
  padding: 0;
  width: 4px;
  height: 4px;

  border: 8px solid #fff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls__toggle--min {
  left: 20px;
}

.range-controls__toggle--max {
  left: 160px;
}

.input-controls {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-controls__dash {
  position: relative;
  top: 19px;

  display: inline-block;
  width: 10px;
  height: 1px;

  vertical-align: top;

  background-color: #444;
}

.range-controls,
.input-controls__input input {
  border-radius: 4px;
  background-color: #f7f3ec;
}

.input-controls__input input {
  padding: 9px 2px 11px 6px;
  width: 87px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;

  border: none;
}

.input-controls__input input:focus {
  outline: 2px solid #a6c7fe;
}

.filters__field:not(:last-of-type)::after {
  content: '';

  display: block;
  margin-top: 24px;
  width: 100%;
  height: 1px;

  background-color: #e5e5e5;
}

.field-filters__label {
  position: relative;

  display: block;
  padding-left: 35px;
  margin-bottom: 20px;

  font-size: 15px;
  line-height: 20px;
}

.field-filters__label::after {
  content: '';
  position: absolute;
  left: 0;

  display: inline-block;
  width: 23px;
  height: 23px;

  vertical-align: top;

  background-repeat: no-repeat;
  background-position: 50%;
}

.brand-field .field-filters__label::after {
  top: -1px;

  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
}

.brand-field input:checked+.field-filters__label::after {
  width: 27px;
}

.brand-field input:not(:disabled)+.field-filters__label:hover::after {
  background-image: url(../img/checkbox-off--hover.svg);
}

.brand-field input:checked+.field-filters__label::after {
  background-image: url(../img/checkbox-on.svg);
}

.brand-field input:checked:not(:disabled)+.field-filters__label:hover::after {
  background-image: url(../img/checkbox-on--hover.svg);
}

.brand-field input:disabled+.field-filters__label::after {
  opacity: .3;
}

.brand-field input:checked:disabled+.field-filters__label::after {
  opacity: .3;
}

.power-field .field-filters__label::after {
  top: -3px;
  left: -1px;

  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
}

.power-field input:not(:disabled)+.field-filters__label:hover::after {
  background-image: url(../img/radio-off--hover.svg);
}

.power-field input:checked+.field-filters__label::after {
  background-image: url(../img/radio-on.svg);
}

.power-field input:checked:not(:disabled)+.field-filters__label:hover::after {
  background-image: url(../img/radio-on--hover.svg);
}

.power-field input:disabled+.field-filters__label::after {
  opacity: .3;
}

.power-field input:checked:disabled+.field-filters__label::after {
  opacity: .3;
}

.filters__field>input:focus+label::after {
  outline: 2px solid #a6c7fe;
}

.filters__apply {
  padding: 11px 0 7px 0;
  width: 138px;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;

  border: solid 1px #e5e5e5;
  background-color: #fff;
}

.filters__apply:hover {
  border: solid 1px #bdc6ca;
  background-color: #fff;
}

.filters__apply:active {
  border: solid 1px #ee3643;
  background-color: #fff;
}

.catalog__inner {
  width: 700px;
}

.catalog__sort {
  margin-bottom: 20px;
  padding: 11px 17px 9px 19px;
}

.sort-catalog {
  display: flex;
  flex-wrap: wrap;


  font-size: 13px;
  line-height: 18px;

  border-radius: 4px;
  background-color: #f7f3ec;
}

.sort-catalog__title {
  margin: 0;
  flex-grow: 1;

  color: #000;
}

.sort-catalog__link {
  position: relative;

  margin: 0 35px;

  color: rgba(0, 0, 0, 0.18);
}

.sort-catalog__link::after {
  content: '';
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 1px;

  display: block;
  height: 1px;
  background: url(../img/text-decoration-dotted.png) repeat-x;
}

.sort-catalog__link:hover {
  color: #000;
}

.sort-catalog__link:hover::after {
  background: #ee3643;
}

.sort-catalog__link.sort-catalog__link--active {
  color: #ee3643;
}

.sort-catalog__link--active::after {
  display: none;
}

.sort-catalog__order {
  fill: #c5c5c5;
}

.sort-catalog .sort-catalog__order:not(:last-child) {
  margin: 0 20px 0 10px;
}

.sort-catalog__order:hover {
  fill: #231f20;
}

.sort-catalog__order.sort-catalog__order--active {
  fill: #ee3643;
}

.catalog__list {
  margin: 0;
  margin-right: -20px;
  margin-bottom: 32px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  list-style: none;
}

.catalog__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.item-catalog.flag-new::before {
  top: -1px;
  right: -1px;
}

.catalog__pagination {
  margin-bottom: 60px;
}

.pagination-catalog {
  font-size: 13px;
  line-height: 18px;
}

.pagination-catalog__list {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.pagination-catalog__link {
  display: block;
  padding: 9px 3px;

  border-radius: 2px;
  border: 1px solid #e5e5e5;
}

.pagination-catalog__item {
  box-sizing: border-box;
  margin-right: 10px;
  display: inline-block;
  min-width: 38px;

  vertical-align: top;
  text-align: center;
}

.pagination-catalog__item:last-child {
  margin-right: 0;
}

.pagination-catalog__link:hover {
  border-color: #bdc6ca;
}

.pagination-catalog__link:active {
  border-color: #ee3643;
}

.pagination-catalog__item--current .pagination-catalog__link {
  color: #fff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination-catalog__item--wide .pagination-catalog__link {
  padding-left: 31px;
  padding-right: 31px;
}

.catalog__description {
  width: 100%;
}

.description-catalog {
  padding-top: 65px;
  padding-bottom: 67px;

  background-color: #f4f7f9;
}

.description-catalog__title {
  margin: 0;
  margin-bottom: 27px;

  font-size: 30px;
  line-height: 30px;
}

.description-catalog__text {
  margin: 0;
}


/*!  MODAL ADDED TO CART  !*/
.added {
  width: 620px;

  background-color: #fff;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.added .modal__container::before {
  content: '';

  display: block;
  width: 100%;
  height: 7px;

  background-color: #ee3643;
}

.added .modal__button-close {
  top: 7px;
}

.added__title {
  margin: 0;
  padding: 48px 80px 49px;

  font-size: 30px;
  line-height: 30px;
}

.added__title::before {
  content: '';

  display: inline-block;
  margin-left: 1px;
  margin-right: 32px;
  width: 66px;
  height: 66px;

  vertical-align: middle;

  background: url(../img/icon-mark.svg) no-repeat 50%;
}

.added__inner {
  padding: 37px 80px;
  display: flex;
  justify-content: space-between;

  background-color: #f1f1f1;
}

.added .button {
  width: 220px;
}

.button--alternative,
.button--alternative:hover,
.button--alternative:active {
  color: #000;

  background-color: #fff;
}
